.App {
  background: antiquewhite;
}


a:link { text-decoration: none;color: blue}
nav .activeNav{
  text-decoration:underline;
}

.goodView {
  border:1px solid gray;
  width: 220px;
  height: 300px;
  img{
    width: 200px;
    height: 200px;
    padding: 10px;
  }
  display: inline-block;
}